<div class="d-flex align-items-center mb-4 justify-content-center justify-content-md-start">
  <img src="https://api.picurl.cn/redir/adbc5d66820e3041c37c68a04f0e66fc.jpg" alt="avatar" class="avatar avatar-lg rounded-circle" />
  <div class="ms-3">
    <h5 class="mb-0">{$userUid}</h5>
    <small>个人主页</small>
  </div>
</div>
<div class="d-md-none text-center d-grid">
  <button
          class="btn btn-light mb-3 d-flex align-items-center justify-content-between"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAccountMenu"
          aria-expanded="false"
          aria-controls="collapseAccountMenu">
    展开菜单
    <i class="bi bi-chevron-down ms-2"></i>
  </button>
</div>
<div class="collapse d-md-block" id="collapseAccountMenu">
  <ul class="nav flex-column nav-account">
    <li class="nav-item">
      <a class="nav-link" href="/user">
        <i class="align-bottom bx bx-home"></i>
        <span class="ms-2">主页</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">
        <i class="align-bottom bx bx-user"></i>
        <span class="ms-2">修改资料</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ChangeName">
        <i class="align-bottom bx bx-user"></i>
        <span class="ms-2">修改昵称</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/cdk">
        <i class="align-bottom bx bx-lock-alt"></i>
        <span class="ms-2">CDK兑换</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/Invite">
        <i class="align-bottom bx bx-lock-alt"></i>
        <span class="ms-2">邀请记录</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./index.html">
        <i class="align-bottom bx bx-log-out"></i>
        <span class="ms-2">退出登录</span>
      </a>
    </li>
  </ul>
</div>