<aside class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="/Agency"><img src="/static/agency/images/logo-sidebar.png" title="会飞的鱼" alt="会飞的鱼" /></a>
    </div>
    <div class="lyear-layout-sidebar-info lyear-scroll">
        <nav class="sidebar-main">
            <ul class="nav-drawer">
                <li class="nav-item"> <a href="/Agency"><i class="mdi mdi-home"></i> <span>后台首页</span></a> </li>
                <li class="nav-item"> <a href="/Agency/shop"><i class="mdi mdi-shopify"></i> <span>代理商城</span></a> </li>
                <li class="nav-item"> <a href="/Agency/UserList"><i class="mdi mdi mdi-account"></i> <span>用户管理</span></a> </li>
                <li class="nav-item"> <a href="/Agency/Code"><i class="mdi mdi-codepen"></i> <span>邀请管理</span></a> </li>
                <li class="nav-item"> <a href="/Agency/Cdk"><i class="mdi mdi-codepen"></i> <span>Cdk管理</span></a> </li>
                <li class="nav-item"> <a href="/Agency/NickCdk"><i class="mdi mdi-codepen"></i> <span>改名Cdk</span></a> </li>
                <li class="nav-item"> <a href="/Agency/gift"><i class="mdi mdi-codepen"></i> <span>赠送点卷</span></a> </li>
                <li class="nav-item  nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-purse"></i><span>资金管理</span></a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/Agency/pay.html">充值余额</a> </li>
                        <li> <a href="/Agency/order.html">订单列表</a> </li>
                        <li> <a href="/Agency/moneylog.html">资金明细</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2019. <a target="_blank" href="https://houz.cn">会飞的鱼</a> All rights reserved.</p>
        </div>
    </div>

</aside>