<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="代理后台">
    <meta name="description" content="代理后台">
    <meta name="author" content="会飞的鱼">
    <title>个人信息</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="stylesheet" type="text/css" href="/static/agency/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/agency/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/agency/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/agency/js/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="/static/agency/css/style.min.css">
</head>

<body>
<!--页面loading-->
<div id="lyear-preloader" class="loading">
    <div class="ctn-preloader">
        <div class="round_spinner">
            <div class="spinner"></div>
            <img src="images/loading-logo.png" alt="">
        </div>
    </div>
</div>
<!--页面loading end-->
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        {include file="agency/side" /}
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">
            {include file="agency/navbar" /}
        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid p-t-15">

                <div class="row">




                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <form class="row">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">账号</span>
                                        </div>
                                        <input type="text" class="form-control" value="{$userinfo.user}" readonly="">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">密码</span>
                                        </div>
                                        <input type="text" id="pass" class="form-control" value="">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <center><button type="button" class="btn btn-primary  btn-round" target-form="add-form" onclick="perform();">保 存</button></center>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/static/agency/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/agency/js/popper.min.js"></script>
<script type="text/javascript" src="/static/agency/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/agency/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/agency/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/agency/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/static/agency/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/static/agency/js/main.min.js"></script>
<script type="text/javascript" src="/static/agency/js/lyear-loading.js"></script>
<script>
    function perform() {
        var pass = $("#pass").val();
        var qq = $("#qq").val();
        var l = $('body')
            .lyearloading({
                opacity: 0.2,
                spinnerSize: 'lg',
                spinnerText: '正在保存中...',
            });
        $.ajax({
            url: '/PostAgency/edit_user', //后台请求地址
            type: 'post', //请求方式
            secureuri: false, //是否启用安全提交
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            },
            data: {
                "pass": pass,
            }, // 附加参数
            dataType: 'json', //服务器返回的数据类型。
            success: function(json, status) {
                l.destroy();
                if(json.code == 200){
                    notify(json.msg,'success');
                    setTimeout(function (){
                        location.reload();
                    },3000);
                }else{
                    notify(json.msg,'warning');
                }
            },
            error: function(json, status, e) {
                notify(e,'danger');
                l.destroy();
            }

        });
    }
    function notify(msg, type = 'success') {
        $.notify({

                icon: 'mdi mdi-alert',
                message: msg
            },
            {
                placement: {
                    from: 'top',
                    align: 'center'
                },
                type: type,
                z_index: 1050,
                element: 'body',
            });

    }
</script>
</body>
</html>