<!-- 修改密码表单 -->
<form class="layui-form model-form">
    <input name="usn" value="{$usn}" hidden>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="newPsw" placeholder="请输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">确认密码:</label>
        <div class="layui-input-block">
            <input type="password" name="rePsw" placeholder="请再次输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|equalTo" lay-equalTo="input[name=newPsw]" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn" lay-filter="submit-ret" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </div>
</form>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'admin', 'formX'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        // 监听提交
        form.on('submit(submit-ret)', function(data) {
            var password = $("input[name='newPsw']").val();
            var repassword = $("input[name='rePsw']").val();
            var usn = $("input[name='usn']").val();
            if (password !== repassword) {
                layer.msg("两次密码输入不一致！");
                return false;
            }
            layer.confirm('确定要修改新密码为：' + password, {
                btn: ['确定', '取消'] //按钮
            }, function(index) {
                var index = layer.load(3);
                $.post("/AdminAjax/retpass", {
                    password: password,
                    usn: usn
                }, function(data) {
                    layer.close(index);
                    layer.open({
                        content: data.msg ? data.msg : '操作失败！',
                        btn: ['确认'],
                        yes: function(index, layero) {
                            location.reload();
                        },
                        cancel: function() {
                            location.reload();
                        }
                    });
                });
            }, function() {});
            return false;
        });

    });
</script>