<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="mask-icon" href="./assets/images/favicon/block-safari-pinned-tab.svg" color="#8b3dff" />
    <link rel="shortcut icon" href="./assets/images/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#8b3dff" />
    <script src="/static/js/color-modes.js"></script>
    <link href="/static/css/simplebar.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/scrollCue.css" />
    <link rel="stylesheet" href="/static/css/boxicons.min.css" />
    <link rel="stylesheet" href="/static/css/theme.min.css" />
    <title>CFer V1.0后台- 会飞的鱼</title>
</head>
<body>
<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg transparent navbar-transparent navbar-dark">
        <div class="container px-3">
            <a class="navbar-brand" href="./index.html"><img src="./assets/images/logo.svg" alt /></a>
            <button class="navbar-toggler offcanvas-nav-btn" type="button">
                <i class="bi bi-list"></i>
            </button>
            <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
                <div class="offcanvas-header">
                    <a href="./index.html" class="text-inverse"><img src="./assets/images/logo/logo.svg" alt /></a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body pt-0 align-items-center">
                    <ul class="navbar-nav mx-auto align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">网页商城</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">活动中心</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">站内公告</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">投诉举报</a>
                        </li>
                    </ul>
                    <div class="mt-3 mt-lg-0 d-flex align-items-center">
                        <a href="/signin" class="btn btn-light mx-2">登录</a>
                        <a href="/signup" class="btn btn-primary">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <!--Hero start-->
    <div
            data-cue="fadeIn"
            class="bg-dark"
            style="background-image: url(https://api.picurl.cn/redir/6ec593a878351b367f893b209f9fd377.jpg); background-position: center; background-size: cover; background-repeat: no-repeat">
        <section class="py-9">
            <div class="container py-9">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="text-center py-lg-8" data-cue="zoomIn">
                            <span class="border border-warning text-warning px-3 rounded-pill py-1 fs-6">客户端更新时间：2024年3月13日</span>
                            <div class="mt-5 mx-xl-7">
                                <h1 class="text-white-stable display-5 mb-3">CFer V1.0后台</h1>
                                <p class="mb-0 lead px-xl-7 mx-xl-7 text-white-stable">
                                    这是一段网站介绍，您可以在后台编辑内容，可以改成一些注意事项。
                                </p>
                            </div>
                            <div class="mt-6 d-grid d-md-inline-flex mx-4">
                                <!-- placement -->
                                <a href="offcanvasRight" class="btn btn-primary me-md-2 mb-3 mb-md-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                    百度网盘下载
                                </a>

                                <a href="#" class="btn btn-outline-primary">
                                    其他网盘下载
                                    <span class="ms-2">
                                 </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Hero end-->

    <!--Location start-->
    <section class="mb-xl-9" data-cue="fadeIn">
        <div class="container">
            <div class="row row border-top border-bottom">
                <div class="col-md-4 border-end-md border-bottom border-bottom-md-0">
                    <div class="text-center p-5 px-xl-8 px-md-0" data-cue="zoomIn">
                        <h5>在线人数</h5>
                        <p class="mb-0">999+</p>
                    </div>
                </div>
                <div class="col-md-4 border-end-md border-bottom border-bottom-md-0">
                    <div class="text-center p-5 px-xl-8 px-md-0" data-cue="zoomIn">

                        <h5>运行时间</h5>
                        <p class="mb-0">999天</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center p-5 px-xl-8 px-md-0" data-cue="zoomIn">
                        <h5>注册用户</h5>
                        <p class="mb-0">999+</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Location end-->
    <!--Speakers start-->
    <section class="my-xl-9 my-5" data-cue="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-5 pb-2">
                        <h2 class="mb-2">排行榜</h2>
                        <p class="mb-0">每天12点前更新缓存 - 非实时更新</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" data-cue="fadeIn">
                    <ul class="nav nav-pills mb-7 nav-primary" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a
                                    href="#"
                                    class="nav-link active me-2"
                                    id="pillsDayone-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pillsDayone"
                                    role="tab"
                                    aria-controls="pillsDayone"
                                    aria-selected="true">
                                等级排行
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link me-2" id="pillsDaytwo-tab" data-bs-toggle="pill" data-bs-target="#pillsDaytwo" role="tab" aria-controls="pillsDaytwo" aria-selected="false">
                                GP排行
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link" id="pillsDaythree-tab" data-bs-toggle="pill" data-bs-target="#pillsDaythree" role="tab" aria-controls="pillsDaythree" aria-selected="false">
                                最近登录
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane show active" id="pillsDayone" role="tabpanel" aria-labelledby="pillsDayone-tab" tabindex="0" data-cues="slideInRight">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="pillsDaytwo" role="tabpanel" aria-labelledby="pillsDaytwo-tab" tabindex="0" data-cues="slideInRight">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="pillsDaythree" role="tabpanel" aria-labelledby="pillsDaythree-tab" tabindex="0" data-cues="slideInRight">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{include file="/common/footer" /}
<div class="btn-scroll-top">
    <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
        <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
    </svg>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/simplebar.min.js"></script>
<script src="/static/js/headhesive.min.js"></script>
<script src="/static/js/theme.min.js"></script>
<script src="/static/js/scrollCue.min.js"></script>
<script src="/static/js/scrollcue.js"></script>
</body>
</html>
